# Development
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.pyc
backend/__pycache__/
backend/**/__pycache__/

# IDE specific files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 

# docker
data/
data/**

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 虛擬環境
venv/
ENV/

# IDE
.idea/
.vscode/

# 專案特定
mbti_data/
.env